.content {
  display: flexbox;
  align-items: center;
}

.list {
  background-color: #e6fdfd;
  border-radius: 5px;
  margin: auto 10%;
  display: flexbox;
  align-content: space-between;
  border-left: #dbad77 10px solid;
  overflow-wrap: break-word;
  -webkit-box-shadow: 6px 6px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 9px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 9px -5px rgba(0, 0, 0, 0.75);

  p {
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: justify;

    .itemText {
      width: 90%;
      color: black;
      outline: none;
      border: none;
      // text-decoration: line-through;
      background-color: #e6fdfd;
    }


    .trash {
      cursor: pointer;
      font-size: 15px;
      margin-left: 17px;
      color: #db7b77;
    }

    .checkbox {
      margin: 0 10px;
      cursor: pointer;
    }
  }

}

// @media only screen and (max-device-width: 1100px) {
//   .itemText {
//     width: 88% !important;

//   }
// }

// @media only screen and (max-device-width: 936px) {
//   .itemText {
//     width: 86% !important;

//   }
// }

// @media only screen and (max-device-width: 836px) {
//   .itemText {
//     width: 84% !important;

//   }
// }

// @media only screen and (max-device-width: 736px) {
//   .itemText {
//     width: 81% !important;

//   }
// }

// @media only screen and (max-device-width: 636px) {
//   .itemText {
//     width: 70% !important;

//   }
// }

// @media only screen and (max-device-width: 436px) {
//   .itemText {
//     width: 62% !important;

//   }
// }

// @media only screen and (max-device-width: 336px) {
//   .itemText {
//     width: 56% !important;

//   }
// }